{% extends 'common_code/base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %} Rest API _ Test {% endblock title %}</title>

{% block content %} 
<h1>Test Page</h1>
 Entry Id : {{topic.id}}
 Topic Id : {{topic_id}}
 
 <p><a href="http://127.0.0.1:8000/api/topic/{{topic.id}}"> {{topic.text}}</a></p>

 <form action="{% url 'comment_entry' topic.id topic_id %}" method="POST">
    {% csrf_token %}
  
   <P>{{form.as_p}} </p>
  
  <button name="submit">Add comment </button>
  
  
{% endblock content %} 



